table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px 120px;
  }
.countainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}  
tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
  }
  